:root {
  --main-color: #edeef0;
  --link-hover-color: #dfe6ed
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

ul {
  list-style-type: none;
}

a,
a:hover,
a:visited {
  text-decoration: none;
  outline: none;
  border: none;
  color: inherit;
}

.container {
  margin: 0 auto;
  max-width: 990px;
}

/* main */

.main {
  width: 100%;
  height: 100vh;
  padding-top: 20px;
  background-color: #edeef0;
}

/* icons */
.nav-icon {
  width: 17px;
  height: 17px;
  margin-right: 13px;
  margin-left: 7px;
}

.header-icon {
  width: 24px;
  height: 24px;
}

.logo-icon {
  width: 30px;
  height: 30px;
}

.searchbar-icon {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

/* nav */
.nav__li {
  width: 163px;
  height: 30px;
  display: flex;
  align-items: center;
  padding: 0 5px;
}

.nav__li:hover {
  background-color: #dfe6ed;
}

.nav__link {
  display: flex;
  color: red;
}